/* * selectionne tous les élements, permet de faire une sorte de reset pour appliquer ensuite ce que l'on souhaite */

/*Base*/
* {
    box-sizing: border-box;

}

html {
    font-size: 62.5%;
}

body {
    color: #555555;
    font-size: 1.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding: 1rem 2rem;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.grid__item {
    width: 100%;
}

@media screen and (min-width:750px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 2rem;
    }

    .grid__item {
        width: 50%;
    }
}

/*Sections*/

section {
    padding: 5.5rem 0;
}

.header {

    background: #FFF;
    border-bottom: 1px solid #EEE;
}

.header .logo {
    font-family: 'Poppins', sans-serif;

    font-size: 2rem;
    letter-spacing: 2px;
}

.navbar {
    display: none;
}

.header li {
    display: inline-flex;
    align-items: center;
    padding: 0 0.5rem;
}

.header a {
    color: #333;
}


.header .right {
    display: flex;
    align-items: center;
}

.socilas {
    display: flex;
}

.socilas a {
    padding: 0 2px;
}

.socilas .icon {
    height: 18px;
}

.burger {
    background: none;
    border: none;
    width: 35px;
    height: 35px;
    cursor: pointer;
    position: relative;
    margin-left: 1rem;
}

.burger .bar {
    display: block;
    width: 22px;
    height: 3px;
    background: #333;
}

.burger .bar::before,
.burger .bar::after {
    display: block;
    content: "";
    width: 22px;
    height: 3px;
    background: #333;
    position: absolute;

}

.burger .bar::before {
    transform: translateY(-8px);
}

.burger .bar::after {
    transform: translateY(8px);
    ;
}

@media screen and (max-width:749px) {}

@media screen and (min-width:750px) {
    .navbar {
        display: flex;
    }

    .burger {
        display: none;
    }
}

.hero {
    background: #d42627;
    color: white;
    padding: 1rem 0 0 0;
}

.hero .title {
    font-size: 4rem;
    margin: 1.6rem 0 0 0;
}

.hero__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero__item span {
    text-transform: uppercase;
}

@media screen and (max-width:749px) {
    .hero__item.left {
        order: 2;
    }

    .hero__item.right {
        order: 1;
    }
}

@media screen and (min-width:750px) {
    .hero__item {
        flex: 1 0 50%;
        align-items: flex-start;
        text-align: left;
    }

    .hero .title {
        font-size: 5rem;
    }

    .hero__avatar img {
        max-width: 400px;
        border-radius: 50%;
    }
}